<li>
  <div id="title">
    {{#link-to 'post' post.id}}{{post.title}}{{/link-to}}
  </div>
  <div id="date">
    {{post.date}}
  </div>
  <div id="author">
    {{post.author}}
  </div>
  <div>
    <img id="display-image" src={{post.image}}>
  </div>
  <div id="content">
    {{post.content}}
  </div>
</li>
